.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

  .card-body {
    height: 23vh;
    margin: 10px;
    min-width: 20vw;
    max-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid rgb(66, 64, 64);
    transition: 0.3s;
    &:hover .card-text {
      opacity: 1;
    }
    &:hover .card-image {
      opacity: 0.05;
    }
    &:hover{
      border: 1px solid rgb(255, 255, 255);
    }

    .card-image {
      overflow: hidden;
      transition: ease-out 0.25s;

      img {
        opacity: 1;
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 10px;
      }
    }
    .card-text {
      font-size: 20px;
      opacity: 0;
      position: absolute;
      padding: 10px;
      text-align: center;
      transition: ease-out 0.25s;
      width: auto;
      .card-name {
        overflow: auto;
        color: rgb(103, 103, 110);
        font-weight: 1500;
      }
      
    }
  }
}
